.btn {
    border: none;
    cursor: pointer;
    margin: 2rem auto;
    padding: .8rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all .2s ease;
}

.btn--primary {
    background-color: green;
    color: white;
    text-transform: uppercase;
}

.btn--primary:hover,
.btn--primary:focus,
.btn--primary:active {
    background-color: rgb(9, 93, 9);
}

.btn--secondary {
    background-color: lightblue;
    color: #333;
    text-transform: uppercase;
}

.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:active, {
    background-color: rgb(143, 210, 233);
}

.btn--margin-s {
    margin: 1rem 2rem;
}