.container {
    width: 100%;
    max-width: 124rem;
    margin: 0 auto;
    padding: 10% auto;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
}