* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.error {
  font-size: 1.6rem;
  font-weight: 500;
  color: red;
}
